<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="./sass/index.css">
    <title>Terriby Tiny Tales Assignment</title>
</head>
<body>
    <form method="post" action="/details">
        <label >
            Enter the RollNo:
            <input  type="value" id="value" name="value" placeholder="Enter your Rollno"/>
            <button type="submit">Result</button>
        </label>
    </form>
</body>
</html>